<header>
	<h1>
		<%= link_to"Alex's Awful Blog", root_path %>
	</h1>
	<div class="carousel" data-quotes="<%= @quotes %>">
<!-- add in qoutes for carousel -->
		<h3>This is a great blog. </br><cite>- A Fucking Idiot</cite></h3>
<!-- add in pagination -->
	</div>
</header>
	<!-- add in pagination -->
<nav class="pagination pagination__top">
	<span class="next">
		<%= link_to_next_page @posts, 'next' %>
	</span>
	<span class="previous">
		<%= link_to_previous_page @posts, 'previous page' %>
	</span>
</nav>

<section class="posts">
	<% @posts.each do |post| %>
		<section class="post">
			<h2>
				<%=link_to post.title, post_path(post.id) %>
			</h2>
			<p><%= truncate post.body, length: 90, separator: " " %></p>

			<p>
			<!-- Add in link to pulication later -->
				<small>Posted <%= time_ago_in_words post.created_at =%> ago. <%= link_to_publication(post, seperator: true ) if post.published? %></small>
			</p>
		</section>
		<% end %>
</section>


	<hr>
	<%= paginate @posts %>



